/*Write more CSS to do the following:
 - a transition on the section elements that when hovered on, the background color changes to something else
 - give a border to the section elements and a border radius of 10px
 - set up the document to use ems or rems based off of a 62.5% root font size
 - a transition that moves the <p> tags over a few pixels when you hover over them (and back when you aren't hovering)*/

html, body {
	font-family: Helvetica, Arial, sans-serif;
  font-size: 62.5%;
	background: #eeee;
}
 body{
   font-size: 1.4rem;
 }
p {
	margin: 10px;
	font-weight: bold;
  transition: margin 0.5s ease;
}

p:hover{
  margin-left: 5px;
}

button.accordion{
  width: 100%;
  margin-bottom:5px;
  border: none;
  outline: none;
}

div.panel {
    margin: 0px;
    padding: 0px;
    padding: 0 18px;
    background-color: #ddf;
    display: none;
    margin-top: -15px;
    padding-bottom: 2px;
}

section {
  border: 4px solid red;
  border-radius: 10px;
  transition: background-color 0.5s ease;
  background: white;
  padding: 10px;
  margin-bottom: 10px
}

section:hover {
  background: green;
  padding: 20px;
}

ul {
	list-style: none;
}

#accordionDiv{
  border: 2px solid black;
}
